# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*
!.env.example

# Django static/media build output
staticfiles/
media/

# IDE
.vscode/
